<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-apple-spay" version="1.0"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>AppleSpay</name>
    <description>Implements Apple Pay with Stripe.</description>
    <keywords>cordova,payment,apple pay,google pay,stripe</keywords>
    <preference name="STRIPE_LIVE_PUBLISHABLE_KEY" />
    <preference name="STRIPE_TEST_PUBLISHABLE_KEY" />
    <preference name="APPLE_MERCHANT_IDENTIFIER" />
    <js-module name="AppleSpayPlugin" src="www/AppleSpayPlugin.js">
        <clobbers target="AppleSpayPlugin" />
    </js-module>
    <platform name="ios">
        <framework src="PassKit.framework" />
        <config-file parent="/*" target="config.xml">
            <feature name="AppleSpayPlugin">
                <param name="ios-package" value="AppleSpayPlugin" />
            </feature>
        </config-file>
        <config-file parent="StripeLivePublishableKey" target="*-Info.plist">
            <string>$STRIPE_LIVE_PUBLISHABLE_KEY</string>
        </config-file>
        <config-file parent="StripeTestPublishableKey" target="*-Info.plist">
            <string>$STRIPE_TEST_PUBLISHABLE_KEY</string>
        </config-file>
        <config-file parent="AppleMerchantIdentifier" target="*-Info.plist">
            <string>$APPLE_MERCHANT_IDENTIFIER</string>
        </config-file>
        <source-file src="src/ios/AppleSpayPlugin.m" />
        <podspec>
            <config>
                <source url="https://cdn.cocoapods.org/" />
            </config>
            <pods>
                <pod name="Stripe" spec="23.2.0" />
            </pods>
        </podspec>
    </platform>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="AppleSpayPlugin">
                <param name="android-package" value="com.awkoy.cordova.applespay.AppleSpay" />
            </feature>
        </config-file>
        <source-file src="src/android/AppleSpay.java" target-dir="src/com/awkoy/cordova/applespay" />
        <framework src="src/android/build.gradle" custom="true" type="gradleReference" />
    </platform>
</plugin>